<h1>BucketList#new</h1>

<%= form_for @bucketlist do |f| %>
  <%= f.label :title %>:
  <%= f.text_field :title %>

  <%= f.label :integer %>
  <%= f.integer_field :integer %>

<%= f.submit %>
<% end %>

